<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Site info</title>
    <script type="text/javascript" src="/js/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="/js/jquery.raty.js"></script>
    <script type="text/javascript" src="/js/rating.js"></script>
    <script type="text/javascript" src="/js/favourite.js"></script>
</head>
<body>

<!--User profile / logout -->
<div th:if="${user} == null">
    Hello, guest!
    <a href="/login">
        <button>Login</button>
    </a>
</div>
<div th:if="${user} != null">
    Hello, <a th:text="${user.name}" th:href="${user.hrefToFront}"></a>!
    <span id="userId" style="display: none" th:text="${user.id}"></span>
    <a href="http://localhost:8082/logout   ">
        <button>Logout</button>
    </a>
</div>
<!--User profile / logout -->

<h1>Site</h1>

<div th:if="${user} != null">
    <div th:id="isFav" style="display:none" th:text="${isFav}"></div>
    <button th:id="favButton" type="button" onclick="fav()" th:switch="${isFav}">
        <span th:case="true">Unfavourite!</span>
        <span th:case="false">Favourite!</span>
    </button>
</div>

<div>
    <p id="siteName" th:switch="${isFav}">
        <span th:case="true" th:text="${site.name}" style="color:green;" ></span>
        <span th:case="false" th:text="${site.name}" style="color:black;" ></span>
    </p>
</div>

<p th:text="${site.url}"></p>
<p th:text="${site.description}"></p>
<p th:id="siteId" style="display:none" th:text="${site.id}"></p>
<p th:id="rateId" style="display:none" th:text="${rate.id}"></p>
<p th:id="rate" style="display:none" th:text="${rate.rate}"></p>


<div th:if="${user} != null" class="rating"></div>
<div id="avgRate"></div>

<h1>Tags</h1>
<table>
    <tr th:each="t : ${tags}">
        <td><a th:text="${t.name}" th:href="${t.hrefToFront}"></a></td>
    </tr>
</table>

<h1>Comments</h1>
<table>
    <tr th:each="c : ${comments}">
        <td><a th:text="${c.user.name}" th:href="${c.user.hrefToFront}"></a> said:</td>
        <td th:text="${c.text}"></td>
        <td th:text="${c.time}"></td>
    </tr>
</table>

<form th:if="${user} != null" th:action="@{/comment}" method="post">
    <textarea name="comment" cols="40" rows="3"></textarea>
    <input type="hidden" name="site" id="site" th:value="${site.id}"/>
    <!-- TODO ajax post -->
    <div><input type="submit" value="Post"/></div>
    <div><input type="submit" value="Delete"/></div>
</form>

<div>
    <h1>Similar</h1>
    <table>
        <tr>
            <th>NAME</th>
            <th>URL</th>
            <th>DESCRIPTION</th>
        </tr>
        <tr th:each="s : ${similar}">
            <td><a th:text="${s.name}" th:href="${s.hrefToFront}"></a></td>
            <td th:text="${s.url}"></td>
            <td th:text="${s.description}"></td>
        </tr>
    </table>
</div>

<script>
        $('.rating').raty({
            score: $('#rate').html(),
            click: function (score) {
                if ($('#rateId').html() === '0') {
                    sendPostRating(score);
                } else {
                    sendPutRating(score);
                }
            }
        });
        getAverageRating();
</script>
</body>
</html>