<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Site info</title>
</head>
<body>
<h1>Site</h1>
<p th:text="${site.name}"></p>
<p th:text="${site.url}"></p>
<p th:text="${site.description}"></p>

<h1>Tags</h1>
<table>
    <tr th:each="t : ${tags}">
        <td th:text="${t.name}"></td>
    </tr>
</table>

<h1>Comments</h1>
<table>
    <tr th:each="c : ${comments}">
        <td><a th:text="${c.user.name}" th:href="${c.user.hrefToFront}"></a> said:</td>
        <td th:text="${c.text}"></td>
        <td th:text="${c.time}"></td>

    </tr>
</table>
<form th:action="@{/comment}" method="post">
    <textarea name="comment" cols="40" rows="3"></textarea>
    <input type="hidden" name="site" id="site" th:value="${site.id}"/>
    <!-- TODO ajax post -->
    <div><input type="submit" value="Post"/></div>
    <div><input type="submit" value="Delete"/></div>
</form>
</body>
</html>