<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Sites!</h1>



<p>Sites</p>

<table>
    <tr>
        <th>NAME</th>
        <th>URL</th>
        <th>DESCRIPTION</th>
    </tr>
    <tr th:each="s : ${sites}">
        <td th:text=>${s.name}</td>
        <td th:text="${s.url}"></td>
        <td th:text="${s.description}"></td>
        <td th:text="${s.hrefToFront}"></td>

    </tr>
</table>
</body>
</html>